@use '../vendor/normalize';
@use '../vendor/ys-text';
@use '../vendor/garamond';
@use '../vendor/glyphter';

@use '../common.blocks/button';
@use '../common.blocks/form';
@use '../common.blocks/modal';

@use '../common.blocks/page';
@use '../common.blocks/header';

@use '../common.blocks/gallery';
@use '../common.blocks/card';
@use '../common.blocks/basket';
@use '../common.blocks/order';
@use '../common.blocks/order-success';

@use 'variables' as *;
@use 'mixins';

.card__category_soft {
	background-color: $category1;
}
.card__category_other {
	background-color: $category2;
}
.card__category_additional {
	background-color: $category3;
}
.card__category_button {
	background-color: $category4;
}
.card__category_hard {
	background-color: $category5;
}
